@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --cololr-main: #000000b5;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  position: relative;
  z-index: -1;
}

.wrapper-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../image/bg-testimonial.webp);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  overflow: hidden;
}

.card-body {
  z-index: 1000;
  background-color: #ffffff;
  width: 400px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
  text-align: center;
}

.card-body article h3 img {
  width: 200px;
}

.card-body article p {
  margin-top: 10px;
  font-size: 14px;
  color: #5e5e61;
}

.item-form {
  margin: 40px 0 20px;
  text-align: left;
}

.item-form label {
  display: block;
  font-size: 14px;
  color: #212529;
  font-weight: 600;
  margin-bottom: 5px;
}

.item-form input {
  width: 100%;
  padding: 0.5rem 15px;
  height: 37px;
  border: 1px solid #8d8e8f;
  border-radius: 9px;
  outline: none;
  transition: 0.5s ease;
}

.item-form input:focus {
  border: 2px solid var(--cololr-main);
}

.btn-submit {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  background-color: var(--cololr-main);
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.5s ease;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
}

.btn-submit:hover {
  background-color: #000;
}

.back-to-login {
  margin-top: 15px;
  font-size: 14px;
}

.back-to-login a {
  color: var(--cololr-main);
  font-weight: 600;
}
